<!DOCTYPE html>
<html lang="en">
<%-include('./head')%>

<body>
  <%-include('./header')%>
    <div class="container blanco">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="/images/<%= producto.image %>">
            </div>
            <div class="col-12 col-md-6 texto">
                <h1 class="text-danger font-weight-bold">ATENCIÓN:</h1>
                <h3>Esta apunto de borrar este producto</h2>
                <h4>¿Desea continuar?</h3>
                <form action="/detalle/<%=producto.id%>/eliminado?_method=DELETE" method="POST" class="botones">
                    <button type="submit" class="btn btn-danger">Borrar</button>
                </form>
                <form action="/detalle/<%=producto.id%>" method="GET" class="botones">
                    <button type="submit" class="btn btn-info">Volver a la pagina anterior</button>
                </form>
            </div>
        

        </div>
    </div>
   <%- include('./footer')%>


</body>

</html>