

<!DOCTYPE html>
<html lang="en">
<%-include('./head')%>

<body>
    <%-include('./header')%>
  <h1 class="Mensaje">No existe el producto</h1>
  <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
   <%- include('./footer')%>


</body>

</html>

