<!DOCTYPE html>
<html lang="en">
<%- include('./head')%>
<body>
<!---->	<%- include('./header')%>
	
	<!-- Banner -->
	<div class="banner"></div>
	<!-- /Banner -->

	<!-- ultima visita -->
	
	<div class="container products-wrapper">
        <div class="row">
        
            <% productos.forEach(function(producto){%> 
            
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/detalle/<%= producto.id %>" class="text-decoration-none">
							<figure class="product-box_image">
								<img src="/images/<%= producto.image %>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<% if(producto.discount!=0){ %>
									<h4 class="precio-real font-weight-bold">$<%=producto.price%></h2>
									<span><%= producto.discount%>% OFF  </span>
								<% } %>
								<h3>$<%= (producto.price)-(producto.price * producto.discount /100) %></h3>
								<p><%=producto.name%><br><%=producto.description%></p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
            <%})%>		

	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>	
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>	
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>	
					</article>
				</div>
			</div>
		</div>
	</footer>
	<div class="sub-footer">
		<div class="container">
			<p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
		</div>
	</div>
	<!-- /footer -->
</body>
</html>